<div class="container pb-3">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">
                <p class="col-md-8 fs-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempore tenetur numquam doloribus
                    maiores recusandae veritatis provident non cupiditate voluptatibus eum voluptate optio nulla
                    voluptas
                    ipsum, officia, quidem aspernatur. Beatae.
                    Itaque necessitatibus voluptatibus tempora, sapiente quisquam debitis quod vero expedita at dicta
                    porro
                </p>
                <button class="btn btn-primary btn-lg">
                    Button
                </button>
            </h1>
        </div>
    </div>
</div>