@model MeetingInfo
@{
    ViewBag.Title = "Toplantı Başvrusu";
    Layout = "_Layout2";
}
<main class="text-center">
<h1>@ViewData["Selamlama"]</h1>
<h2>Toplantı Katılım Durumunu Bildirin</h2>
<div class="card my-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Location</li>
        <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss")</li>
        <li class="list-group-item">@Model.Numberofpeople</li>

    </ul>
</div>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvurunu yap</a>
</main>